body {
    width: 100%;
}

.row {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

@media only screen and (min-width: 601px) {

    .col-3 {
        width: 25%;
    }

    .col-8 {
        width: 66.66%;
    }
    
    .col-12 {
        width: 100%;
    }
}

li {
    list-style-type: none;
    display: inline-block;
}

header h1, ul, footer {
    text-align: center;
}
img {
    width: 100%
}

form {
    border: 2px solid black;
    padding: 10px;
}
section>div>label, form>div>p, #crveno {
    color: red;
}
main {
    padding: 10px;
}

hr {
    border: 0.4px solid black;
}

input[type=text], textarea {
    width: 67%;
}